.form-section{
  display: flex;
  flex-direction: column;
  width: inherit;
  gap: 1rem;
  padding: 2rem 3rem 2rem;
}

.titleEl{
  color: rgb(75, 74, 74);
}
form{
  display: flex;
  width: inherit;
  gap: 1rem;
  justify-content: space-between;

}

input{
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.title{
  width: 50%;
  font-size: 18px;
}

.button-sub{
  width: 15rem;
  font-size: 18px;
  background-color: #227ded;
  color: #fff;
  border: none;
  border-radius: 3px;
}
