header{
   height: 60px;
   width: inherit;
   padding: 0 3rem;
   background-color: #fff;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size{
  font-size: 32px;
  color:  #227ded;
}

Link{
font-size: 30px;
}
.menuList{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.links{
  font-size: 22px;
padding: 10px;
text-decoration: none;
color: rgb(91, 170, 250);
}

.links:focus{
  color: rgb(7, 7, 7);
  transform: scale(1.2);
}
.logo{
  font-size: 40px;
  color:#227ded;
  font-weight: 700;
}

.logo:focus{
  color:  #227ded;
}